<!DOCTYPE html>
<html lang="en-us" ng-app = "ilmApp">
  <head>
    <meta charset="UTF-8">
    <title>Divergence by cmcotton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="divCtrl">
      <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">參數</h3>
            </div>
            <div class="panel-body">
        
                  <div class="col-xs-6 col-md-2">
                    <label>入會金:</label>
                    <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="enterFee" ng-change="update()">
                      <option ng-repeat="option in feeCombos" value="{{option.fee}}">{{option.fee}}</option>
                    </select>
                    <!--<input type="text" ng-model="enterFee" ><button type="button" class="btn btn-xs btn-primary" ng-click="enterFee = enterFee + 100">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="enterFee = enterFee - 100">-</button>-->
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>介紹費:</label>
                    <input type="text" class="form-control" ng-model="introFee" >
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>人數 / 月份:</label>
                    <input type="text" class="form-control" ng-model="month" ><button type="button" class="btn btn-xs btn-primary" ng-click="month = month + .5">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="month = month - .5">-</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>每人月消費:</label>
                    <input type="text" class="form-control" ng-model="amtPersonMonth" ><button type="button" class="btn btn-xs btn-primary" ng-click="amtPersonMonth = amtPersonMonth + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="amtPersonMonth = amtPersonMonth - 1">-</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>累積額:</label>
                    <input type="text" class="form-control" ng-model="accum" ><button type="button" class="btn btn-xs btn-primary" ng-click="accum = accum + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="accum = accum - 1">-</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>基礎介紹點數:</label>
                    <input type="text" class="form-control" ng-model="baseIntroPoint" ><button type="button" class="btn btn-xs btn-primary" ng-click="baseIntroPoint = baseIntroPoint + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="baseIntroPoint = baseIntroPoint - 1">-</button>
                  </div>  
                  <div class="col-xs-6 col-md-2">
                    <label>月底銷點數:</label>
                    <input type="text" class="form-control" ng-model="minusPoint" ><button type="button" class="btn btn-xs btn-primary" ng-click="minusPoint = minusPoint + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="minusPoint = minusPoint - 1">-</button>
                  </div>  
                  <div class="col-xs-6 col-md-2">
                    <label>美金匯率:</label>
                    <input type="text" class="form-control" ng-model="exchangeRate"><button type="button" class="btn btn-xs btn-primary" ng-click="exchangeRate = exchangeRate + 0.1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="exchangeRate = exchangeRate - 0.1">-</button>
                  </div>  
                  <div class="col-xs-6 col-md-2">
                    <label>碰局金額(USD):</label>
                    <input type="text" class="form-control" ng-model="amtUpper" ><button type="button" class="btn btn-xs btn-primary" ng-click="amtUpper = amtUpper + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="amtUpper = amtUpper - 1">-</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>第一代找人數量:</label>
                    <input type="text" class="form-control" ng-model="peopleFound1st" ><button type="button" class="btn btn-xs btn-primary" ng-click="peopleFound1st = peopleFound1st + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="peopleFound1st = peopleFound1st - 1">-</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <label>第二代找人數量:</label>
                    <input type="text" class="form-control" ng-model="peopleFound2nd" ><button type="button" class="btn btn-xs btn-primary" ng-click="peopleFound2nd = peopleFound2nd + 1">+</button><button type="button" class="btn btn-xs btn-danger" ng-click="peopleFound2nd = peopleFound2nd - 1">-</button>
                  </div>  
            </div>  
        </div>  
      </div>  
      <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">計算結果</h3>
            </div>
            <div class="panel-body">
              單筆介紹費 * 月數 * 人數 = 介紹費({{introFee * month * peopleFound1st}}) <br>
              單筆點數 * 月數 * 人數 = 總點數({{baseIntroPoint * month * peopleFound1st}}) <br>
        
              第[ 1 ]代找[ {{peopleFound1st}} ]人總人數為：{{getMemberCount(1)}}<br>
              第[ 1 ]代找[ {{peopleFound1st}} ]人總點數為：{{getPointCount(1)}}<br>
              第[ 1 ]代管理收入[ {{getMgtRvn(1) | number:0}} ] * 人數[ {{getMemberCount(1)}} ] * 管理比率[ 0.25% ] = 管理收入[ {{getTotalMgtRvn(1) | number:0}} ]<br>
              <br>
              第[ 2 ]代找[ {{peopleFound2nd}} ]人總人數為：{{getMemberCount(2)}}<br>
              第[ 2 ]代找[ {{peopleFound2nd}} ]人總點數為：{{getPointCount(2)}}<br>
              第[ 2 ]代管理收入[ {{getMgtRvn(2) | number:0}} ] * 人數[ {{getMemberCount(2)}} ] * 管理比率[ 0.15% ] = 管理收入[ {{getTotalMgtRvn(2) | number:0}} ]<br>
              <br>
              第[ 3 ]代找[ 1 ]人總人數為：{{getMemberCount(3)}}<br>
              第[ 3 ]代找[ 1 ]人總點數為：{{getPointCount(3)}}<br>
              第[ 3 ]代管理收入[ {{getMgtRvn(3) | number:0}} ] * 人數[ {{getMemberCount(3)}} ] * 管理比率[ 0.1% ] = 管理收入[ {{getTotalMgtRvn(3) | number:0}} ]<br>
              <br>
              第[ 4 ]代找[ 1 ]人總人數為：{{getMemberCount(4)}}<br>
              第[ 4 ]代找[ 1 ]人總點數為：{{getPointCount(4)}}<br>
              第[ 4 ]代管理收入[ {{getMgtRvn(4) | number:0}} ] * 人數[ {{getMemberCount(4)}} ] * 管理比率[ 0.05% ] = 管理收入[ {{getTotalMgtRvn(4) | number:0}} ]<br>
              <br>
              第[ 5 ]代找[ 1 ]人總人數為：{{getMemberCount(5)}}<br>
              第[ 5 ]代找[ 1 ]人總點數為：{{getPointCount(5)}}<br>
              第[ 5 ]代管理收入[ {{getMgtRvn(5) | number:0}} ] * 人數[ {{getMemberCount(5)}} ] * 管理比率[ 0.05% ] = 管理收入[ {{getTotalMgtRvn(5) | number:0}} ]<br>
              <br>
              第[ 6 ]代找[ 1 ]人總人數為：{{getMemberCount(6)}}<br>
              第[ 6 ]代找[ 1 ]人總點數為：{{getPointCount(6)}}<br>
              第[ 6 ]代管理收入[ {{getMgtRvn(6) | number:0}} ] * 人數[ {{getMemberCount(6)}} ] * 管理比率[ 0.05% ] = 管理收入[ {{getTotalMgtRvn(6) | number:0}} ]<br>
              <br>
              第[ 7 ]代找[ 1 ]人總人數為：{{getMemberCount(7)}}<br>
              第[ 7 ]代找[ 1 ]人總點數為：{{getPointCount(7)}}<br>
              第[ 7 ]代管理收入[ {{getMgtRvn(7) | number:0}} ] * 人數[ {{getMemberCount(7)}} ] * 管理比率[ 0.05% ] = 管理收入[ {{getTotalMgtRvn(7) | number:0}} ]<br>
              <br>
              [ 7 ]代合計總人數：{{getMemberCount(7)}}<br>
              [ 7 ]總代合計總點數：{{getPointCount(7)}}<br>
              總點數[ {{getPointCount(7)}} ] / [ {{accum}} ] * [ {{exchangeRate * amtUpper}} ] = 月收入[ NT${{getPointCount(7) / accum * exchangeRate * amtUpper | number:0}}元 ]<br>
              <br>
              總金額[ {{getSum() | number:0}} ]<br>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    //Angular.js
    var ilmApp = angular.module('ilmApp', []);
    
    ilmApp.config(['$httpProvider', function ($httpProvider) {    
    	$httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
    }]);
    
    ilmApp.controller('divCtrl', function($scope, $http) {
    
    	var vm = $scope;

      vm.rates = [.25, .15, .1, .05, .05, .05, .05];
      
      vm.feeCombos = [
      {
        fee: 8835,
        point: 100,
        intro: 775
      },
      {
        fee: 32550,
        point: 400,
        intro: 200
      },
      {
        fee: 48980,
        point: 520,
        intro: 300
      },
      {
        fee: 97650,
        point: 1000,
        intro: 500
      }];
    	vm.enterFee = 8835;
    	vm.introFee = 775;   
    	vm.month = 1;
    	vm.amtPersonMonth = 2883;
    	
    	vm.accum = 900;
    	vm.baseIntroPoint = 100;   
    	vm.minusPoint = 60;
    	vm.exchangeRate = 31;
      vm.amtUpper = 35.00;
      vm.peopleFound1st = 6;
      vm.peopleFound2nd = 1;
      
      vm.total = 0;
      
      vm.getMemberCount = function myself (gen) {
        if (gen == 1) {
          return vm.peopleFound1st * vm.month ;
        } else {
          return (myself(gen -1)) * (vm.peopleFound2nd + 1);
        }
      };
      typeof myself === 'undefined';
      
      vm.getPointCount = function myself (gen) {
        if (gen == 1) {
          return vm.getMemberCount(gen) * vm.minusPoint;
        } else {
          return vm.getMemberCount(gen) * vm.minusPoint + myself(gen -1);
        }
      };
      typeof myself === 'undefined';
      
      vm.getMgtRvn = function myself (gen) {
        if (gen == 7) {
          return 0;
        } else {
          return vm.getPointCount(7 - gen) / vm.accum * vm.exchangeRate * vm.amtUpper;
        }
      };
      typeof myself === 'undefined';
      
      vm.getTotalMgtRvn = function(gen) {
        if (gen == 1) {
          return vm.getMgtRvn(1) * (vm.getMemberCount(1) + 1) * vm.rates[gen - 1];
        } else {
          return vm.getMgtRvn(gen) * vm.getMemberCount(gen) * vm.rates[gen - 1];
        }
      };
      
      vm.getSum = function(gen) {
        var sum = 0;
        for (var i = 1; i <= 7; i++) {
          sum += vm.getTotalMgtRvn(i);
        }
        return sum;
      };
      
      vm.update = function() {
        vm.introFee = enterFee.intro;
        vm.baseIntroPoint = enterFee.point;
      };
    });
    
  </script>
  
</html>
