<!DOCTYPE html>
<html lang="en-us" ng-app = "ilmApp">
  <head>
    <meta charset="UTF-8">
    <title>Divergence by cmcotton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="divCtrl">
      <div>
        <label>入會金:</label>
        <input type="text" ng-model="enterFee" >
        <label>介紹費:</label>
        <input type="text" ng-model="introFee" >
        <label>月份:</label>
        <input type="text" ng-model="month" >
        <label>每人月消費:</label>
        <input type="text" ng-model="amtPersonMonth" >
      </div>
      
      <div>
        <label>累積額:</label>
        <input type="text" ng-model="accum" >
        <label>基礎介紹點數:</label>
        <input type="text" ng-model="baseIntroPoint" >
        <label>月底銷點數:</label>
        <input type="text" ng-model="minusPoint" >
        <label>美金匯率:</label>
        <input type="text" ng-model="exchangeRate" >
        <label>碰局金額(USD):</label>
        <input type="text" ng-model="amtUpper" >
        <label>第一代找人數量:</label>
        <input type="text" ng-model="peopleFound1st" >
        <label>第二代找人數量:</label>
        <input type="text" ng-model="peopleFound2nd" >
      </div>
      
      <hr>
      <h1>單筆介紹費 * 月數 * 人數 = 介紹費({{introFee * month * peopleFound1st}})</h1>
    </div>

  </body>
  <script>
    //Angular.js
    var ilmApp = angular.module('ilmApp', []);
    
    ilmApp.config(['$httpProvider', function ($httpProvider) {    
    	$httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
    }]);
    
    ilmApp.controller('divCtrl', function($scope, $http) {
    
    	var vm = $scope;
    	
    	vm.enterFee = 8800;
    	vm.introFee = 775;   
    	vm.month = 1;
    	vm.amtPersonMonth = 2883;
    	
    	vm.accum = 900;
    	vm.baseIntroPoint = 100;   
    	vm.minusPoint = 60;
    	vm.exchangeRate = 31;
      vm.amtUpper = 35.00;
      vm.peopleFound1st = 7;
      vm.peopleFound2nd = 1;
      
    
  </script>
  
</html>
